In [2]:
import os
import pandas as pd

In [3]:
DATA_DIR = 'data'

LABELS_FILE = 'labels.csv'

# Flowers dataset for network sanity checks
FLOWERS = os.path.join(DATA_DIR, '17flowers')

# Real datasets
FASHION_144k = os.path.join(DATA_DIR, '144k')

In [43]:
df_florwers = pd.read_csv(os.path.join(FLOWERS, LABELS_FILE))

In [44]:
df_florwers.head()

   id  label      image_name
0   1      0  image_0001.jpg
1   2      0  image_0002.jpg
2   3      0  image_0003.jpg
3   4      0  image_0004.jpg
4   5      0  image_0005.jpg

In [5]:
df_144k = pd.read_csv(os.path.join(FASHION_144k, '144k.csv'))

In [6]:
df_144k.head()

,dt,relvotes,dat3,dat4,dat5,dat6,dat7,dat8,dat9,dat10,...,dat259,dat260,dat261,dat262,dat263,dat264,dat265,dat266,dat267,dat268
0,1.971681,10,-1.163832,-0.377005,0.974638,0.825289,0.350482,-1.557694,0.178111,-0.489689,...,-0.806893,-0.391937,0.152572,-1.069564,0.380985,-0.224829,0.800282,0.065237,-0.134836,0
1,1.959294,2,-1.163832,-0.377005,0.974638,0.825289,0.350482,-1.557694,0.178111,-0.489689,...,-0.806893,-0.391937,0.152572,-1.069564,0.380985,-0.224829,0.800282,0.065237,-0.134836,0
2,1.954731,1,-1.163832,-0.377005,0.974638,0.825289,0.350482,-1.557694,0.178111,-0.489689,...,-0.806893,-0.391937,0.152572,-1.069564,0.380985,-0.224829,0.800282,0.065237,-0.134836,0
3,1.959513,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
4,1.959513,7,-1.163832,-0.377005,0.974638,0.825289,0.350482,-1.557694,0.178111,-0.489689,...,-0.806893,-0.391937,0.152572,-1.069564,0.380985,-0.224829,0.800282,0.065237,-0.134836,0

In [10]:
df_144k_new = pd.DataFrame()

In [11]:
df_144k_new['label'] = df_144k['relvotes']

In [15]:
df_144k_new['id'] = [i for i in range(len(df_144k))]

In [19]:
with open(os.path.join(FASHION_144k, 'photos.txt'), encoding='utf-8') as names_file:
    names = names_file.read().splitlines()

print(len(names), len(df_144k))

144169 144169

In [20]:
df_144k_new['image_name'] = names

In [21]:
df_144k_new.head()

   label  id                       image_name
0     10   0    6475795322-6475795322_400.jpg
1      2   1  10515538260-10515538260_400.jpg
2      1   2    8666979006-8666979006_400.jpg
3      3   3    2354760120-2354760120_400.jpg
4      7   4    5482806293-5482806293_400.jpg

In [28]:
df_144k_new.to_csv(os.path.join(FASHION_144k, LABELS_FILE), sep=',', encoding='utf-8', index=False)

In [26]:
df_144k_check = pd.read_csv(os.path.join(FASHION_144k, LABELS_FILE))

In [27]:
df_144k_check.head()

   Unnamed: 0  label  id                       image_name
0           0     10   0    6475795322-6475795322_400.jpg
1           1      2   1  10515538260-10515538260_400.jpg
2           2      1   2    8666979006-8666979006_400.jpg
3           3      3   3    2354760120-2354760120_400.jpg
4           4      7   4    5482806293-5482806293_400.jpg