In [3]:
import os
import pandas as pd

In [13]:
DATA_DIR = 'data'

LABELS_FILE = 'labels.csv'

# Flowers dataset for network sanity checks
FLOWERS = os.path.join(DATA_DIR, '17flowers')

# Real datasets
FASHION_144k = os.path.join(DATA_DIR, '144k')

In [43]:
df_florwers = pd.read_csv(os.path.join(FLOWERS, LABELS_FILE))

In [44]:
df_florwers.head()

   id  label      image_name
0   1      0  image_0001.jpg
1   2      0  image_0002.jpg
2   3      0  image_0003.jpg
3   4      0  image_0004.jpg
4   5      0  image_0005.jpg